<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <style>
        body {
            background-color: rgb(130, 236, 130);
        }
        p {
            margin: 20px; /* Adjusts space above each paragraph */
            margin-bottom: 15px; /* Adjusts space below each paragraph */
        }
    </style>
</head>
<body>
      <h1>This is the about Page</h1><br/>
      <div>             <p>     I am K. SANTHIYA from Department of Information Technology of Kamaraj College of Engineering and Technology.</p>
                        <p>     I am passionate about coding. My areas of interest are Machine Learning, Deep Learning, IoT, Security and Networks.</p>

                    </div>
           
 
    </body>
</html>
