<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
        <style>
        body {
            background-color: rgb(207, 216, 207);
        }
    </style>
</head>
<body>
    <h1>This is the home page</h1>
   <center> <p>Web Application Development using Django Framework</p>
    <img src="{% static 'images/python_logo.png' %}" alt="Python Logo">


    <img src="{% static 'images/django_logo.png' %}" alt="Django Logo"></center>
</body>
</html>
